.banner{
  height: 10%;
  width:100%;
  transition:0.4s;
	background:#008000;
	position:absolute;
	top:90%;
	left:0%;
  padding-left: 20px;
}
.banner:hover{
	width:100%;
	height:500%;
	top:10%;


}
