search.css
.search-box{
 position:absolute;
 top:50%;
 left:70%;
 transform:translate(-30%,-70%);
 background:white;
 height:40px;
 border-radius:10px;
}
.search-btn{
 color:white;
 float:center;
 width:40px;
 height:40px;
 border-radius:50%;
 background:black;
 display:flex;
 justify-content:center;
 align-items:center;
}
.search-txt{
 border:none;
 background:none;
 outline:none;
 float:left;
 padding:0;
 color:black;
 font-size:16px;
 transition:0.4s;
 line-height:40px;
   width:0px;
}
}
.search-box:hover> .search-btn{
 width:240px;
 padding:0 6px;
}
